
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.work-area {
  position: relative;
  margin-top: 20px;
  user-select: none;
  height: 500px;
  background-color: #f0f0f0;
}

.edit-container {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  position: absolute;
  cursor: pointer;
}
.edit-container img {
  /* https://www.zhangxinxu.com/wordpress/2021/05/css-user-drag/ */
  -webkit-user-drag: none;
}

.edit-container .dot-box {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px;
  width: 10px;
  height: 10px;
  position: absolute;
  cursor: pointer;
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.top-middle {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.middle-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.middle-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
.bottom-middle {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
